*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face 
{
    font-family: ES1;
    src: url("/RECURSOS/Philosopher-Bold.ttf");
}

h2
{
    text-align: center;
    margin: 10px;
    text-decoration: none;
    font-family: ES1;
    color: black;
    font-weight: bolder;
}

body
{
    background-color: #DDDDDF;
}

.Contenedor
{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
}
header
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

header nav
{
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    background-color: #024959;
}

nav a
{
    text-decoration:none;
    color:inherit;
    font-size:14px;
}
          
nav li
{
    display:inline-block;
    width:150px;
    height:30px;
    padding:5px 10px;
    background-color:#024959;
    text-align:center;
    color:#fff;
    position:relative;
}
          
nav li:hover
{
    background-color:#81daee;
    color:#000;
}
          
nav li>ul
{
    display:none;
}

nav li:hover>ul
{
    display:block;
    position:absolute;
    top:30px;
    left:0px;
}

.Menu_bar
{
    display: none;
    position: absolute;
}
main
{
    padding-top: 2.5rem;
}

.item1
{
    background-color: #C9CEE2;
    text-align: center;
}
.item2
{
    background-color: #EDD9F9;
    padding: 20px;
}
.bArt
{
    display: block;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color: #024959; 
    border-radius: 10px;
    padding: 5px;
    margin: 5px 15px;
}
p
{
    line-height: 1.5;
}
div img
{
    width: 100px;
    padding-top: 10px;
}
.footy{
    text-align: right;
}
@media(max-width: 600px)
{
    header nav
    {
        width: 80%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }
    header nav ul li
    {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    nav li:hover{
        background-color:#81daee;
        color:#000;
        }

    nav li:hover>ul{
        display: inline-block;
        position: absolute;
        left:170px;
        top: -0.5px;
    }
    
    .Menu_bar
    {
        display: block;
        width: 100%;
        background-color: #ccc;
    }
    .Menu_bar .Btn-menu
    {
        display: block;
        padding: 20px;
        background-color: #024959;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .Contenedor
    {
        display: grid;
        grid-template-columns: auto;
    }
    main
    {
        padding-top: 4rem;
    }
}